/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  background: #0E0E0F;
  background-attachment: fixed;
  height: 100%;
  color: #ced9e0;
  font-family: $font-OpenSans;
}

h1 {
  @include fontStyle(ailerons, 50px, white);
  letter-spacing: 8px; 
}

h2 {
  @include fontStyle(ailerons, 48px, $color-lightgray);
}

h3 {
  @include fontStyle(ailerons, 16px, $color-darkgray);  
  letter-spacing: 3px;
}

figcaption {
  @include fontStyle(ailerons, 20px, $color-lightgray);  
  text-shadow: 2px 2px 15px #000;
  letter-spacing: 3px;
}

a {
  color: $color-darkgray;
}
a:hover {
    color: #ced9e0;
}
