/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/

header,
section,
footer {
  max-width: 100%;
  margin: 0 auto;
}
/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/

.progress {
  border-top: 2px solid #4E8C73;
  padding: 10px;
  position: relative;
  z-index: 1;
  width: 25%;
}

.logoMain {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h6 {
    margin-top: -70px;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-pre {}
    img {
      width: 60%;
    }
    .title {
      text-shadow: 2px 2px 15px #000;
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      top: 36%;
      font-size: 100px;
      letter-spacing: 25px;
    }
  }
}

header {
  display: flex;
  align-items: flex-start;
  position: relative;
  div {
    width: 309px;
  }
  .title {
    text-shadow: 2px 2px 15px #000;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%
  }
  .logo {
    img {
      width: 300px;
      margin-top: -150px;
      z-index: -1;
    }
  }
  .caption {
    padding-top: 10px;
    font-size: 14px;
  }
  .icons {
    text-align: right;
    span {
      margin-right: 70px;
      &:last-child {
        margin-right: 40px;
      }
      img {
        width: 40px;
      }
    }
  }
  .user-info {
    position: absolute;
    h3 {
      margin-left: 40px;
      @include rotate(90deg);
      transform-origin: 0 0;
    }
  }
}
/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/

.main-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  span {
    margin-top: 20px;
  }
}

.questionArea {
  color: $color-darkgray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -25px;
  .underline {
    margin-top: 15px;
  }
}

.aura,
.third-break {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 40vh;
  .forward {
    margin-right: 40px;
  }
  .back {
    margin-left: 40px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  ul {
    display: flex;
    display: -webkit-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-box;
    flex-wrap: nowrap;
    list-style: none;
    margin-bottom: -2px;
    figure {
      position: relative;
      width: 350px;
    }
    figcaption {
      margin-bottom: -3px;
      text-align: center;
      position: relative;
      z-index: 1;
    }
  }
}

.text-field {
  text-align: center;
  ::-webkit-input-placeholder {
    color: $color-darkgray;
    font-size: 14px;
    letter-spacing: 2px;
  }
}