/* -----------------------------------------------------------------------
Version: 0.1

SMACSS [Scalable Modular Architecture for CSS]
Reference: http://smacss.com/

Categorizing:
1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer] [prefix: l-]
3. Modules - Reusable, Modular parts of design [example: sidebar, popup] [prefix: module-]
4. State - How our module or layouts look in particular state [example: expanded, active] [prefix: is-]
5. Theme - Look and feel of subcomponent based on theme [example: dark, light] [prefix: theme-]
6. Pages   - Page specific styles. [prefix: page-]
----------------------------------------------------------------------- */
/*-------------------------------------------------
MASTER: IMPORTING STYLESHEETS
-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
/* Font */
@font-face {
  font-family: 'ailerons';
  src: url("../fonts/ailerons.otf") format("opentype"); }

/*
TODO ::
[] Integrate Bourbon to make use of most mixins - http://bourbon.io/docs/
*/
/*-------------------------------------------------
 MIXIN :: CLEARFIX
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: PIXEL TO EM CONVERTOR
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BORDER RADIUS
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: TRANSITION
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BOX SHADOW
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: SCALE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: ROTATE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: FONT STYLE
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  background: #2b2d2e;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2b2d2e), color-stop(100%, #0f1010));
  background: -webkit-radial-gradient(center, ellipse cover, #2b2d2e 0%, #0f1010 100%);
  background: -webkit-radial-gradient(center, ellipse, #2b2d2e 0%, #0f1010 100%);
  background: radial-gradient(ellipse at center, #2b2d2e 0%, #0f1010 100%);
  background-attachment: fixed;
  height: 100%;
  color: #ced9e0;
  font-family: "Yantramanav", "Arial", sans-serif;
  letter-spacing: 2px; }

h1 {
  font-family: ailerons;
  font-size: 50px;
  color: white;
  letter-spacing: 8px; }

h2 {
  font-family: ailerons;
  font-size: 48px;
  color: #868687; }

h3 {
  font-family: ailerons;
  font-size: 16px;
  color: #474747;
  letter-spacing: 3px; }

h4 {
  color: #868687;
  font-size: 16px;
  margin-bottom: 10px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 14px;
  color: #474747; }

figcaption {
  font-family: ailerons;
  font-size: 20px;
  color: #868687;
  text-shadow: 2px 2px 15px #000;
  letter-spacing: 3px; }

a {
  color: #474747; }

a:hover {
  color: #ced9e0; }

/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
header,
section,
footer {
  max-width: 100%;
  margin: 0 auto; }

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
.progress {
  border-top: 2px solid #4E8C73;
  padding: 10px;
  position: relative;
  z-index: 1;
  width: 25%; }

.logoMain {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }
  .logoMain h6 {
    margin-top: -70px; }
  .logoMain .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .logoMain .logo img {
      width: 60%; }
    .logoMain .logo .title {
      text-shadow: 2px 2px 15px #000;
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      top: 36%;
      font-size: 100px;
      letter-spacing: 25px; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }
  header div {
    width: 309px; }
  header .title {
    text-shadow: 2px 2px 15px #000;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%; }
  header .logo img {
    width: 300px;
    margin-top: -150px;
    z-index: -1; }
  header .caption {
    padding-top: 10px;
    font-size: 14px; }
  header .icons {
    text-align: right; }
    header .icons span {
      margin-right: 70px; }
      header .icons span:last-child {
        margin-right: 40px; }
      header .icons span img {
        width: 40px; }
  header .user-info {
    position: absolute; }
    header .user-info h3 {
      margin-left: 40px;
      transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0; }

/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
.main-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-align: center; }
  .main-text span {
    margin-top: 20px; }

.questionArea {
  color: #474747;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -25px; }
  .questionArea .underline {
    margin-top: 15px; }

.aura,
.third-break {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  height: 40vh; }
  .aura .forward,
  .third-break .forward {
    margin-right: 40px; }
  .aura .back,
  .third-break .back {
    margin-left: 40px; }

::-webkit-scrollbar {
  display: none; }

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  bottom: 0;
  margin-bottom: 0; }
  .gallery ul {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-box;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    list-style: none;
    margin-bottom: -2px; }
    .gallery ul figure {
      position: relative;
      width: 350px; }
    .gallery ul figcaption {
      margin-bottom: -3px;
      text-align: center;
      position: relative;
      z-index: 1; }

.text-field {
  text-align: center; }
  .text-field ::-webkit-input-placeholder {
    color: #474747;
    font-size: 14px;
    letter-spacing: 2px; }

.progress {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.underline {
  margin-bottom: 20px;
  width: 50px;
  height: 1px;
  background: #71b280;
  background: -webkit-gradient(left top, right top, color-stop(0%, #71b280), color-stop(100%, #134e5e));
  background: -webkit-linear-gradient(left, #71b280 0%, #134e5e 100%);
  background: linear-gradient(to right, #71b280 0%, #134e5e 100%); }

.aura-circle,
.aura-circle-copy {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.aura-circle {
  border: 1px solid #474747;
  position: absolute; }

.gallery img {
  width: 350px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gallery figcaption {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 0; }

.gallery figure img {
  top: 17px; }

.gallery figure.selected img {
  position: absolute;
  top: 10px;
  border-bottom: 7px solid transparent;
  background: #71b280;
  background: -webkit-gradient(left top, right top, color-stop(0%, #71b280), color-stop(100%, #134e5e));
  background: -webkit-linear-gradient(left, #71b280 0%, #134e5e 100%);
  background: linear-gradient(to right, #71b280 0%, #134e5e 100%); }

.gallery figure.selected figcaption {
  color: #4E8C73;
  top: -6px; }

.main-text {
  line-height: 40px;
  font-size: 20px;
  color: #868687;
  width: 500px; }
  .main-text .button {
    padding: 0px 25px; }

.back h3 {
  text-align: right; }

.back img {
  width: 80px; }

.forward h3 {
  text-align: left; }

.forward img {
  width: 80px; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  position: relative;
  background-color: #0E0E0F;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #474747;
  width: 80%; }
  .modal-content h3 {
    background: #71b280;
    background: -webkit-linear-gradient(270deg, #71b280, #134e5e);
    background: linear-gradient(180deg, #71b280, #134e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.close {
  border: 1px solid #474747;
  position: absolute;
  right: -20px;
  top: -25px;
  width: 40px;
  height: 40px;
  background: #0E0E0F;
  border-radius: 50%;
  text-align: center; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.button {
  font-size: 20px;
  margin-top: 150px;
  border: 2px solid;
  padding: 10px 25px;
  -o-border-image: linear-gradient(to right, #71b280 0%, #134e5e 100%);
     border-image: -webkit-linear-gradient(left, #71b280 0%, #134e5e 100%);
     border-image: linear-gradient(to right, #71b280 0%, #134e5e 100%);
  border-image-slice: 1;
  background: -webkit-linear-gradient(left, #71b280 0%, #134e5e 100%);
  background: linear-gradient(to right, #71b280 0%, #134e5e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer; }

.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-box {
  text-align: center;
  width: 300px;
  height: 40px;
  background: transparent;
  border: 1px solid #474747;
  color: #474747;
  font-size: 14px; }
